
*{box-sizing: border-box;}
body{
    margin: 0;
}
img {

    width : 120px;
    height: 50px;
}
.cartBeer{
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: 15px;
    font-size: 0.5em;
    align-items:center;
}

.cartBeer img {
    height: 200px;
    object-fit: contain;
    margin: 0;
}

.beers{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

nav {
    display: flex;
    background-color: royalblue;
    height: 8vh;
    align-items: center;
}

nav a {
    margin: 0px 4vw;
    color: white; 
    text-decoration: none;
    font-weight: bold;

}
/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
