* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
img {
  width: 300px;
  object-fit: contain;
}
#home-views {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 70vh;
}
#home-views img {
  padding-left: 40px;
}
button {
  height: 3em;
  width: 15em;
  font-weight: bold;
  background-color: royalblue;
  border-radius: 10px;
}
button a {
  color: white;
  text-decoration: none;
}
.cartBeer {
  display: flex;
  flex-direction: column;
  width: 15vw;
  font-size: 0.7em;
  align-items: center;
  margin: 20px auto;
  border: 2px solid royalblue;
  border-radius: 10px;
  padding-bottom: 5px;
}
.cartBeer p,
.cartBeer h2 {
  margin: 5px 10% 5px 10%;
}
.cartBeer img {
  height: 150px;
  object-fit: contain;
  margin-top: 5px;
  align-self: center;
}

.beers {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

nav {
  display: flex;
  background-color: royalblue;
  height: 8vh;
  align-items: center;
}

nav a {
  margin: 0px 4vw;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
